<!DOCTYPE html>
<head>
<title>Error</title>
</head>
<body>
<div class="view-container">
<h2>Error</h2>
<div class="error">
    <p style="color: crimson;"> Looks like the page you're looking for is NOT FOUND</p>
    <p> Click <a href= "http://localhost:3000/">here</a> to go to homepage</p>
    <img src="/SadFace.png" style="width:700px;height:500px;"/>
</div>
</div>
</body>