<!DOCTYPE html>
<head>
<title>View App</title>
</head>
<body>
<div class="view-container">
<h2>Mflix View</h2>
<div class="view">

<a href="/ImdbRatingView">View Movies with Imdb 8 to 10</a></br>
<a href="/MoviesWithComments"> View Movies with Comments</a></br>
<form action="/text_manipulation" method="post">
    <label for="text_name">How do you feel today: </label>
    <input type="textarea" name="feeling">
    <input type="submit" value="OK">
</form>
</div>
</div>
</body>